/* Variables */
:root {
    --verde-oscuro:#1B4332;
    --verde-medio:#2D6A4F;
    --verde-claro:#4CAF50;
    --blanco:#FFFFFF;
    --color-h1: #410a4c;
    --color-h2: #196e6a;
}
/* Reset */
/*
"*"{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
/* Navegación */
nav {
    background-color: var(--verde-medio);
    padding: 1em;
    margin-bottom: 1.5em;
    position: fixed; 
    top: 0; 
    z-index: 1000;
    width: 100%;
    height: 30px;
}
nav a, footer a {
    color: var(--blanco);
    text-decoration: none;
    margin: 0 1.25em;
    padding:0.5em;
}
nav a:hover, footer a:hover {
    color: var(--verde-oscuro);
    text-decoration: underline;
}
/* Header */
header{
    background-color: var(--verde-oscuro);
    color: var(--blanco);
    padding: 1.5em;
    margin:2em 0;
    text-align: center;
}
header img{
    width: 400px;
    height: 200px;
    border: black solid 2px;
}
/*body*/
body{
    margin-top: 30px;
    font-size: 1rem;
}
h1{
    font-size: larger;
    color: var(--color-h1);
}
h2{
    font-size: 18px;
    color: var(--color-h2);
}
/* Footer */
footer {
    background-color: var(--verde-medio);
    color: var(--blanco);
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

.Formulario h1, h2, p, label{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}